body {
  background-color: #414141;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

section {
  background-color: #313131;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

h1 {
  font-size: 60px;
}

div {
  background-color: #303030;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  font-weight: bold;
}

nav {
  color: #ffffff;
  background-color: #000000;
  padding: 10px;
  margin: 10px;
  word-spacing: 10px;
  border-radius: 10px;
}

ul {
  margin: 10px;
  padding: 10px;
  column-count: 2;
}

table {
  border: 2px solid #fff;
}

td {
  background-color: #585858;
  padding: 5px;
}

footer {
  display: flex;
  flex-direction: row;
}

.contactform {
  background-color: #000000;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  order: -1; 
}

.linkedin {
  background-color: #000000;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  order: 1;
}